// COLOR STACK
$warning-gold					:#D8C26C;
$error-red						:#ED1C2E;
$success-green					:#0DA68E;

//PRIMARY COLORS
$color-primary-0: #212121; //DARK GRAY
$color-primary-1: #464646; //MEDIUM GRAY
$color-primary-2: #F1F2F2; //LIGHT GRAY
$color-primary-3: #1E1E1E; //BLACK
$color-primary-4: #404041; //TEXT GRAY
$color-primary-5: #FFFFFF; //WHITE
$color-primary-6: #F2F2F2; //OFF WHITE

//SECONDARY COLORS
$color-secondary-0: #ED2678; //Color Name
$color-secondary-1: #456055; //Color Name
$color-secondary-2: #D7CA97; //Color Name
$color-secondary-3: #EFE9D6; //Color Name
$color-secondary-4: #CECD55; //Color Name
$color-secondary-5: #E6E6AD; //Color Name