// COLOR STACK
$warning-gold					:#D8C26C;
$error-red						:#ed1c2e;
$success-green					:#0da68e;

//PRIMARY COLOR
$color-primary-0: #831509; //Middle
$color-primary-1: #C55145; //Lightest
$color-primary-2: #A63024; //Lighter
$color-primary-3: #5C0900; //Darker
$color-primary-4: #350500; //Darkest

//SECONDARY COLOR
$color-complement-0: #07631B; //Middle
$color-complement-1: #34954A; //Lightest
$color-complement-2: #1B7D31; //Lighter
$color-complement-3: #00460F; //Darker
$color-complement-4: #002809; //Darkest


$white 							:#ffffff;
$off-white 						:#f2f2f2;
$gray							:#dedede;
$dark-gray						:#696760;
$black							:#1e1e1e;