.footer{
	min-height:154px;
	background-color:$color-primary-6;
	padding:30px 2%;
	.logo{
		width:75px;
	}
	ul{
		font-size:rem(12px);
		a{
			color:$color-primary-3;
		}
		.phone{
			
		}
		.mail{
			
		}
	}
	.social-group{
		
	}
	.button{
		width:166px;
		float:left;
		@include breakpoint(portrait){
			float:right;
		}
	}
}