.footer{
	min-height:154px;
	background-color:$color-primary-6;
	padding:30px 2%;
	.logo{
		width:75px;
	}
	ul{
		font-size:rem(12px);
		a{
			color:$color-primary-3;
		}
		.phone{

		}
		.mail{

		}
	}
	.social-group{
		width:75px;
    float:right;
    @include clearfix;
    margin-bottom:em(20px);
    padding-right:em(10px);

    i{
      float:right;
      color:$color-primary-1;

      &.fa-facebook{
        margin-right:em(10px);
      }
    }
	}
	.button{
		width:166px;
		float:left;
		@include breakpoint(portrait){
			float:right;
		}
	}
}