.footer{
	min-height:154px;
	background-color:$color-primary-6;
	padding:30px 2%;
	.logo{
		width:75px;
		margin:0 auto 20px;
		display:block;
		@include breakpoint(portrait){
			margin:0;
		}
		
	}
	ul{
		font-size:rem(16px);
		text-align:center;
		@include breakpoint(portrait){
			text-align:left;
		}
		
		a{
			color:$color-primary-3;
		}
		.phone{

		}
		.mail{

		}
	}
	.social-group{
		width:60px;
   @include clearfix;
    margin:20px auto 20px;
	@include breakpoint(portrait){
		float:right;
	    padding-right:em(10px);
		width:auto;
	}

    i{
      color:$color-primary-1;
	  font-size:rem(25px);
	  text-align:center;
      &.fa-twitter{
        margin-right:em(10px);
      }
    }
	}
	.button{
		width:166px;
		float:left;
		display:none;
		@include breakpoint(portrait){
			float:right;
		}
	}
}