.header{
	height:80px;
	padding:10px 0;
	background-color:$color-primary-0;
	position:fixed;
	z-index:25;
	
	
	.logo{
		width:75px;
		position:absolute;
		left:50%;
		margin-left:-37px;
	}
	.button-group{
		float:right;
		padding-top:10px;
		&.sticky{
			opacity:0;
		}
		&.show{
			@include breakpoint(portrait){
				-webkit-transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-o-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;
				opacity:1;
				
			}
		}
		ul{
			margin:0;
			padding:0;			
			li{
				float:right;
				margin:0;
				.button{
					max-width:120px;
					font-size:rem(12px);
					margin-right:16px;
					padding:5px 0 8px 0;
					&.secondary-dark-bg{
						max-width:120px;
						margin:0;
					}
				}
			}
		}
	}
}