.support-header{
	padding:80px 0 30px;
	
	h1{
		font-size:rem(40px);
		margin:50px 0 0px;
	}
}
.details{
	padding: 0 0 60px;
	.left{
		p{
			font-size:rem(16px);
			font-weight:200;
			max-width:300px;
			margin:0 0 15px;
			
		}
		.button{
			float:left;
			max-width:80px;
			margin:30px 0;
		}
	}
	.right{
		p{
			font-size:rem(16px);
			line-height:133.33%;
			margin:0 0 15px;
		}
		ul{
			margin:30px 0px;
			font-size:rem(16px);
		}
	}
}